
.component-expand-icon-container {
    display: flex;
    min-width: 20px;
    align-items: center;
    margin-right: 10px;

    .component-expand-icon {
        margin: 0 auto;
    }

    .component-collapse-icon {
        margin: 0 auto;
    }
}
