.performance {
    .metrics-text {
        fill: #fff;
        font-size: 11px;
        font-family: inherit;
        text-align: center;
        text-anchor: middle;
        font-weight: 500;
        letter-spacing: normal;
    }
}
